<app-header></app-header>
<br>

<div class="container">
    <div class="mb-2 mt-2">
        <label for="">Name</label>
        <input [(ngModel)]="addData.name" type="text" class="form-control" placeholder="Enter the Name"> <br>
        <label for="">Mob No</label>
        <input [(ngModel)]="addData.mob_no" type="number" class="form-control" placeholder="Enter the Phone No"><br>
        <label for="">Department</label>
        <input [(ngModel)]="addData.dept" type="text" class="form-control" placeholder="Enter the Department"><br>
        <label for="">Status</label>
        <input [(ngModel)]="addData.status" type="text" class="form-control" placeholder="Enter the Status"><br>
        <label for="">Country</label>
        <select class="form-control" [(ngModel)]="addData.country">

            <!-- *ngValue :-
                        - It is a attribute directive.
                        - Used for sending complete json obj from backend.
                        - Syntax :-
                                - [ngValue] = "jsonObj"
            -->
            <option [ngValue]="item" *ngFor="let item of allCountry"> {{item.cname}} </option>
            
        </select> <br>
        <label for="">Salary</label>
        <input [(ngModel)]="addData.salary" type="number" class="form-control" placeholder="Enter the Salary"> <br>

        <label for="">Email Id::</label>
        <input [(ngModel)]="addData.email_id" type="email" class="form-control" placeholder="Enter the Email ID"> <br>
        <button (click)="onSubmit()" class="btn btn-success" >Submit</button>
    </div>
</div>